<section class="pt-10 pb-10 bg-cream md:pt-20 md:pb-20 px-10 wrap">
  <div class="card bg-base-100 mx-auto max-w-xl md:max-w-3xl lg:max-w-5xl">
    <h2 class="text-3xl font-gen text-center md:text-4xl pt-20"><%= t('.title') %></h2>
    <div class="card-body grid grid-cols-1 gap-5 mt-10 md:mt-20">
    </div>
  </div>
</section>