<header class="navbar bg-base-100 bg-mint">
  <div class="flex-1">
        <%= link_to image_tag('logo2.png', class: "w-32 md:w-60 lg:w-64"), '/' %>
  </div>
  <div class="flex-none">
    <%= link_to 'login', '/users/sign_in', class: "btn btn-sm sm:btn-sm md:btn-md lg:btn-lg bg-cream btn-outline mr-2" %>
    <%= link_to 'signup', '/users/sign_up', class: "btn btn-sm sm:btn-sm md:btn-md lg:btn-lg bg-cream btn-outline mr-4" %>
  </div>
</header>