<div class="card card-side bg-base-100 w-full m-2">
  <!--<%# @cosmetics.each do |cosmetic| %>-->
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      alt="Movie" />
  </figure>
  <div class="card-body w-fit">
    <h2 class="card-title">
      <%= link_to 'cosmetics.product_name', '#' %>
    </h2>
    <p>
      <%= link_to 'cosmetics.category', '#' %>
    </p>
    <p>
      <%= link_to 'cosmetics.brand', '#' %>
    </p>
    <p>
      <%= 'cosmetics.amount' %>
    </p>
    <!--<%# end %>-->
    <div class="card-actions justify-end">
      <button class="btn bg-beige btn-outline">登録</button>
      <button class="btn outline">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
      </button>
    </div>
  </div>
</div>