<footer class="mt-auto navbar bg-base-100 bg-mint rounded-md">
  <div class="flex-1">
    <p class="text-xs px-2 md:text-sm md:px-4">
      ©︎2024 Beauty Buddy
    </p>
  </div>
  <div class="flex-1 flex justify-end">
    <%= link_to t("footer.terms_of_service"), '#', class: "btn btn-sm md:btn-md bg-cream btn-outline mr-2" %>
    <%= link_to t('footer.privacy_policy'), '#', class: "btn btn-sm md:btn-md bg-cream btn-outline mr-2" %>
    <%= link_to t('footer.contact'), '#', class: "btn btn-sm md:btn-md bg-cream btn-outline mr-2" %>
  </div>
</footer>