<footer class="navbar bg-base-100 bg-mint">
  <div class="flex-1">
    <p class="text-xs px-2 md:text-sm md:px-4">
      ©︎2024 Beauty Buddy
    </p>
  <div class="flex-1 flex justify-end">
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg bg-cream btn-outline mr-2">
      <%= link_to 'terms_of_service', '#' %>
    </button>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg bg-cream btn-outline mr-2">
      <%= link_to 'privacy_policy', '#' %>
    </button>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg bg-cream btn-outline mr-2">
      <%= link_to 'contact', '#' %>
    </button>
  </div>
</footer>