<%= search_form_for q, url: mycosmetics_path, html: { class: "flex items-center justify-center p-3 gap-3" } do |f| %>
  <%= f.select :cosmetic_category_id_eq,
    Category.all.map { |c| [c.name, c.id] },
    { include_blank: 'カテゴリーを選択' },
    class: "select select-bordered w-full max-w-xs" %>
  <label class="input input-bordered flex items-center">
    <%= f.search_field :cosmetic_product_name_or_cosmetic_brand_name_cont, class: "grow", placeholder: "検索" %>
  </label>
  <%= f.submit "検索", class: "btn bg-beige btn-outline" %>
<% end %>