@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  text-shadow: 
    -1px -1px 0 #cdb38c,  
    1px -1px 0 #cdb38c,
    -1px 1px 0 #cdb38c,
    1px 1px 0 #cdb38c;
}

.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer{
    margin-top: auto;
}

  /* アクティブ状態のスタイル */
  .peer:checked + label {
    background-color: #fcfcfc; 
  }
  
  .peer:checked + label .icon {
    filter: invert(70%) sepia(20%) saturate(600%) hue-rotate(330deg) brightness(120%) contrast(95%);
  }

  .peer:checked + label .text {
    color: #f49595;
    font-weight: bold;
  }

.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(221, 221, 221);
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

.simple-calendar tr {
  border-collapse: collapse;
}

.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid rgb(221, 221, 221);
  border-collapse: collapse;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-top: 0px none rgb(51, 51, 51);
  box-sizing: border-box;
  text-align: left;
}

.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
}

.simple-calendar .calendar-heading nav {
  display: inline-block;
}

.simple-calendar .day {
  height: 80px;
}

.simple-calendar .today {
  background: #FFFFC0;
}

.simple-calendar .prev-month {
  background: #DDD;
}

.simple-calendar .next-month {
  background: #DDD;
}