<div class="bg-cream p-5 wrap">
<h1 class="font-gen text-3xl md:text-4xl">コスメ一覧</h1>
  <div class="flex items-center justify-center m-2">
    <!-- 検索フォーム -->
    <%= render 'search', q: @q, url: cosmetics_path %>
  </div>

  <!-- 化粧品一覧 -->
  <div class="flex-col items-center pt-5">
    <%= render @cosmetics %>
  </div>
  <div class="flex justify-center">
    <%= paginate @cosmetics %>
  </div>
</div>