<div class="bg-cream wrap">
  <div class="flex-col items-center p-9">
    <h1 class="font-gen text-center text-2xl md:text-4xl lg:text-5xl py-7">カレンダー</h1>
    <div class="card bg-base-100">
      <div class="card-body">
        <div class="simple-calendar rounded-lg overflow-hidden border border-gray">
          <%= month_calendar do |date| %>
            <%= link_to date.day, new_daily_report_path(date: date), class: "block w-full h-full" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>